<!doctype html>
<html>
	<head>
        <title></title>
        <style>
            .button{
                height:50px;
                width:150px;
                text-align:center;
                -webkit-user-select:none;
            }
            .on {
                background-color:lightgreen;
            }
            .off {
                background-color:red;
            }
        </style>

	</head>
<body>
    <template id="commandbuttontemplate">
        <div class="button" :class="{ 'on': canExecute, 'off' :!canExecute }" @dblclick="execute">
            {{msg}}
        </div>
    </template>

    <div id="main">
        <input type="text" v-model="Name" placeholder="First name">
        <ul>
            <li v-for="skill in Skills">
                <span>{{skill.Type}}</span>:<span>{{skill.Name}}</span>
                <button @click="RemoveSkill.Execute(skill)">
                    Remove skill
                </button>
            </li>
        </ul>
        <div>
            <h2><span>{{Name}}</span></h2>
            <h2><span>{{LastName}}</span></h2>
            <h2><span>{{PersonalState.displayName}}</span></h2>
            <h2><span>{{Local.City}}</span></h2>
            <input type="text" v-model="Local.City">
            
            <input type="range" min="0" max="130" v-model="Age">
        </div>
        <div id="Local">
            <h2><span data-bind="text: Local().City"></span></h2>

            <template  v-if="MainSkill!==null">
                <input type="text" v-model="MainSkill.Type" placeholder="Main Skill Type">
                <input type="text" v-model="MainSkill.Name" placeholder="Main Skill">
            </template>

        </div>
        <div>
            <label v-for="state in States">
                <input type="radio" v-model="PersonalState" :value="state" /><span>{{state.displayName}}</span>
            </label>
        </div>
        <div>
            <label v-for="sex in Sexes">
                <input type="radio" v-model="Sex" :value="sex" />
                <span>{{sex.displayName}}</span>
                <img height="50" width="50" :src="enumImage(sex)">
            </label>
        </div>
        <img height="200" width="200" :src="enumImage(Sex)">

        <button @click="ChangeSkill.Execute($data)">Change skill</button>
        <button v-command="RemoveSkills">Remove skills</button>

        <!--<div class="button" v-command:dblclick="Command" :commandarg="$data">Add skill</div>-->

        <commandbutton msg="Add skill" :command="Command"></commandbutton>
    </div>
    <script src="js/init.js"></script>
</body>

</html>