<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MoreCollection" version="1.0.6" targetFramework="net45" />
  <package id="Unofficial.Cef.libcef" version="3.2883.1539" targetFramework="net45" />
  <package id="Unofficial.Cef.libs" version="3.2883.1539" targetFramework="net45" />
  <package id="Unofficial.CefGlue.Core" version="3.2883.1539" targetFramework="net45" />
</packages>