<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Neutronium.ChromiumFx.Vue" version="0.1.0" targetFramework="net45" />
  <package id="Neutronium.Core" version="0.1.0" targetFramework="net45" />
  <package id="Neutronium.JavascriptFramework.Vue" version="0.1.0" targetFramework="net45" />
  <package id="Neutronium.MVVMComponents" version="0.1.0" targetFramework="net45" />
  <package id="Neutronium.WebBrowserEngine.ChromiumFx" version="0.1.0" targetFramework="net45" />
  <package id="Neutronium.WPF" version="0.1.0" targetFramework="net45" />
  <package id="Unofficial.Cef.for.Chromiumfx" version="3.2924.0" targetFramework="net45" />
  <package id="Unofficial.Chromiumfx" version="3.2924.1" targetFramework="net45" />
</packages>