/** Stylus Styles */

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

@import './theme.styl'

@import '../../node_modules/vuetify/src/stylus/app'

.icon.fa
	font-size: inherit

#app
	height: 100%