<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Unofficial.Cef.for.Chromiumfx.x64" version="3.2924.1" targetFramework="net452" />
  <package id="Unofficial.Cef.for.Chromiumfx.x86" version="3.2924.1" targetFramework="net452" />
  <package id="Unofficial.Chromiumfx" version="3.2924.4" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net452" />
</packages>