<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="main">
        <p>Collection demo</p>

        <select multiple="multiple" v-model="ViewModel.SelectedSkills">
            <option v-for="item in ViewModel.Skills" :value="item">
                {{item.Type}} {{item.Name}}
            </option>
        </select>

        <button id="add" @click="ViewModel.AddSkill.Execute()">Add Skill</button>

        <template v-if="ViewModel.MainSkill">
            <input v-model="ViewModel.MainSkill.Type" placeholder="Type" />
            <input v-model="ViewModel.MainSkill.Name" placeholder="Name" />
        </template>

        <div>
            {{count}}
        </div>

    </div>
    <script src="js/init.js"></script>
</body>


</html>