<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="KendoUICore" version="2014.2.716" targetFramework="net40" />
  <package id="knockoutjs" version="2.0.0" targetFramework="net40" />
  <package id="Knockout-Kendo" version="0.8.1" targetFramework="net40" />
</packages>