<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net472" />
  <package id="FluentAssertions" version="5.3.2" targetFramework="net472" />
  <package id="MoreCollection" version="2.0.0" targetFramework="net472" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="xunit" version="2.3.1" targetFramework="net472" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net472" />
  <package id="xunit.analyzers" version="0.7.0" targetFramework="net472" />
  <package id="xunit.assert" version="2.3.1" targetFramework="net472" />
  <package id="xunit.core" version="2.3.1" targetFramework="net472" />
  <package id="xunit.extensibility.core" version="2.3.1" targetFramework="net472" />
  <package id="xunit.extensibility.execution" version="2.3.1" targetFramework="net472" />
</packages>