<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(SolutionDir)\Examples\Example.Option.CFx.Vue\bin\Debug\Example.Option.CFx.Vue.exe" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Globalization" #>
<#@ import namespace="System.Resources" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Example.Option.CFx.Vue" #>
<#@ output extension=".json" #>
<# 
  Langages = new [] { 
      "en-US", "fr-FR", "pt-BR"
  };
  Resources = new []{"Resource"};
#>
{
 <# var first = true;
 PushIndent("    ");
 foreach (var langage in Langages) {
	if (!first){
		WriteLine("},");
	}
	first =false;
	WriteLine($@"""{langage}"":{{");
	PushIndent("    ");
	foreach(var resource in Resources){
		WriteLine($@"""{resource}"":{{");
		PushIndent("    ");
		var dic = GetDictionary(resource, langage);
		DisplayDictionary(dic);
		PopIndent();
		WriteLine("}");
	}
	PopIndent();
 } 
 WriteLine("}");
 PopIndent();
 #>
}
<#+
private string[] Langages;

private string[] Resources;

private void DisplayDictionary(IDictionary<string,string> dictionary){
	var first = true;
	foreach(var entry in dictionary){
		if (!first){
			WriteLine(",");
		}
		first = false;
		Write($@"""{entry.Key}"":""{entry.Value}""");
	}
	WriteLine("");
}

private IDictionary<string,string> GetDictionary(string resourceName, string langage){
	var asm = typeof(App).Assembly;
	var resourceManager = new ResourceManager("Example.Option.CFx.Vue." + resourceName, asm);
	var rs = resourceManager.GetResourceSet(new CultureInfo(langage), true, true);
	return rs.Cast<DictionaryEntry>().OrderBy(entry =>entry.Key).ToDictionary(dicEntry => (string)dicEntry.Key, dicEntry => (string)dicEntry.Value);            
}
#>