<!doctype html>
<html>
	<head>
        <title></title>
        <script src="js/Init.js" type="text/javascript"></script>
	</head>
<body>
    <div>
        <input id="first" type="text" data-bind="textInput: Name" placeholder="First name">

        <button data-bind="click: $data.click">Call Factory 1</button>

        <button data-bind="executeResult: $data.CreateObject, promiseoption:{then:$data.result, error:$data.error,arg:$data.Name}">Call Factory 2</button>

    </div>
   
</body>
        
   
</html>